config USB_CHIPIDEA
	bool

config USB_CHIPIDEA_HOST
	bool "ChipIdea USB Host support"
	select USB_CHIPIDEA
	select USB_EHCI
	help
	  Enables USB host support for the ChipIdea USB controller.

config USB_CHIPIDEA_DEVICE
	bool "ChipIdea USB Device support"
	select USB_CHIPIDEA
	select USB_HAVE_GADGET_DRIVER
	select USB_GADGET_DRIVER_ARC
	help
	  Enables USB device support for the ChipIdea USB controller.

config USB_CHIPIDEA_GENERIC
	bool "ChipIdea Generic USB 2.0 driver"
	depends on USB_CHIPIDEA
	help
	  Enables a generic USB 2.0 driver for the ChipIdea USB controller
	  found on various SoCs.

config USB_IMX_PHY
	bool

config USB_IMX
	bool "i.MX USB 2.0 driver"
	depends on USB_CHIPIDEA
	depends on ARCH_IMX
	select USB_IMX_PHY if ARCH_IMX6
	help
	  Enables USB 2.0 support for the ChipIdea USB controller found on
	  Freescale i.MX SoCs.

config USB_MVEBU_PHY_40NM
	bool

config USB_MVEBU_PHY_65NM
	bool

config USB_MVEBU_PHY
	bool
	select USB_MVEBU_PHY_40NM if ARCH_ARMADA_370
	select USB_MVEBU_PHY_40NM if ARCH_ARMADA_XP
	select USB_MVEBU_PHY_65NM if ARCH_DOVE
	select USB_MVEBU_PHY_65NM if ARCH_KIRKWOOD

config USB_MVEBU
	bool "Marvell MVEBU USB 2.0 driver"
	depends on USB_CHIPIDEA
	depends on ARCH_MVEBU
	select USB_MVEBU_PHY
	help
	  Enables USB 2.0 support for the ChipIdea USB controller found on
	  Marvell Orion5x, Kirkwood, Dove, Armada 370, and XP SoCs.
