/*
 * Barebox specific DT overlay for Globalscale Guruplug
 *   Sebastian Hesselbarth <sebastian.hesselbarth@gmail.com>
 */

#include "arm/kirkwood-guruplug-server-plus.dts"

/ {
	gpio-leds {
		health-r {
			barebox,default-trigger = "heartbeat";
		};
	};

	ocp@f1000000 {
		musb0: usb@50000 {
			compatible = "marvell,mvebu-usb";
			reg = <0x50000 0x400>;
			interrupts = <19>;
			clocks = <&gate_clk 3>;
			usb-phy = <&usb_phy0>;
			dr_mode = "host";
			status = "okay";
		};

		usb_phy0: phy@50400 {
			compatible = "marvell,mvebu-usb-phy-65nm";
			reg = <0x50400 0x100>;
			clocks = <&gate_clk 3>;
			#phy-cells = <0>;
			status = "okay";
		};
	};
};
