/*
 * Barebox specific DT overlay for USI Topkick
 *   Sebastian Hesselbarth <sebastian.hesselbarth@gmail.com>
 */

#include "kirkwood-topkick.dts"

/ {
	chosen {
		linux,stdout-path = &uart0;
	};

	gpio-leds {
		system {
			barebox,default-trigger = "heartbeat";
		};
	};
};
